button:hover {
	cursor: pointer;
}
.table-hover:hover {
	cursor: pointer;
}
.wrapper {
	margin: 3% 0 0 0;
}
.form_block {
	float: left;
}
/*.config {
	margin: 10% 0 0 0;
}*/
.config small {
	display: block;
	margin: -2% 0 5% 0;
	line-height: 1.3;
}
.action__icon {
	padding: 0;
}
.action__icon:last-child {
	margin: 0 0 0 10%;
}
.action__icon img {
	width: 20px;
	height: 20px;
	margin: 0 0 0 10%;
}
.action__icon img:hover {
	opacity: 0.6;
}

.progress__spin {
    border: 5px solid #9ca59f;  /*#f3f3f3*/
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;

    margin: -25% 50%;
    display: none;
    position: fixed;
    z-index: 998;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
