button:hover {
	cursor: pointer;
}
.table-hover:hover {
	cursor: pointer;
}
.wrapper {
	margin: 3% 0 0 0;
}
.form_block {
	float: left;
}
/*.config {
	margin: 10% 0 0 0;
}*/
.config small {
	display: block;
	margin: 0% 0 5% 0;
}